[project]
	description = VPP installation on top of mlnx 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shachar Beiser (shacharbe)
[access "refs/for/refs/*"]
	read = group user/Shachar Beiser (shacharbe)
	push = group user/Shachar Beiser (shacharbe)
	label-Code-Review = -2..+2 group user/Shachar Beiser (shacharbe)
	label-Verified = -1..+1 group user/Shachar Beiser (shacharbe)
	rebase = group user/Shachar Beiser (shacharbe)
	removeReviewer = group user/Shachar Beiser (shacharbe)
	submit = group user/Shachar Beiser (shacharbe)
[access "refs/heads/*"]
	read = group user/Shachar Beiser (shacharbe)
	create = group user/Shachar Beiser (shacharbe)
	push = +force group user/Shachar Beiser (shacharbe)
	pushMerge = group user/Shachar Beiser (shacharbe)
[access "refs/tags/*"]
	push = group user/Shachar Beiser (shacharbe)
	push = +force group user/Shachar Beiser (shacharbe)
